.movie_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 60px;
  gap: 30px;

  @media screen and (min-width: 480px) {
    max-width: 450px;
    margin-top: 130px;
  }

  @media screen and (min-width: 768px) {
    max-width: 700px;
    margin-top: 160px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    max-width: 1150px;
  }
}

.movie_image {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 342px;
  }
}

.noImage {
  width: 342px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.movie_title {
  color: rgb(189, 13, 13);
  font-size: 32px;
  margin-bottom: 20px;
}

.movie_subtitle {
  margin-bottom: 20px;
}
.movie_buttonsWrapper {
  display: flex;
  margin-top: auto;
  gap: 30px;
}

.movie_button {
  width: 120px;
  height: 48px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px rgb(189, 13, 13);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: rgb(177, 177, 177);

  @media screen and (min-width: 480px) {
    min-width: 150px;
  }
}

.movie_button:hover {
  box-shadow: 0px 0px 8px 0px rgb(189, 13, 13);
  color: rgb(189, 13, 13);
}

.movie_descriptionWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
}

.movie_description {
  // margin-bottom: auto;
}
