.imageGalleryItem__image {
  width: 100%;
  max-width: 300px;
  height: 100%;
  margin-bottom: 10px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    max-width: 450px;
  }
}

.imageGalleryItem__image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.imageGalleryItem {
  width: 100%;
  max-width: 300px;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    max-width: 450px;
  }
}
.imageGalleryItem:hover {
  color: rgb(189, 13, 13);
}
.info {
  padding: 8px;
}
.title {
  font-size: 24px;
  margin-bottom: 12px;
}
.subtitle {
  font-size: 18px;
  margin-top: auto;
}
