.text {
  font: inherit;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(189, 13, 13);
  margin-top: 100px;

  @media screen and (min-width: 480px) {
    margin-top: 100px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 160px;
  }
}
